#root {
  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: center;
  margin: 0;
}
.SetupPage {
  width: 60vw;
  height: 50vw;
}

.SetupPage_info {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 80%;
  border: 2px solid yellow;
}
.back {
  background-color: white;
  width: 100%;
  height: 80%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1%;
}

.setup_top {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.usericon_setup {
  border: 2px solid red;
  height: 30%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_icon_ {
  height: auto;
  width: 80%;
  border: 4px solid #cdcdcd;

  padding: 10%;
  border-radius: 50%;
  margin-top: 10%;
}
.input_and_check {
  height: 100%;
  width: 100%;
  border: 2px solid aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pw_check {
  display: flex;
  justify-content: start;

  flex-direction: row;
  border: 2px solid black;
  width: 35%;
}

.check {
  margin-top: 5%;
  height: 10%;
  width: 5%;
}

.Change_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 40%;
  width: 20%;
  border: 2px solid black;
}

.Change_StreamKey {
  width: 100%;
  height: 100%;
}

.Change_PW {
  width: 70%;
  height: 25%;
}
