#root {
  width: 99vw;
  height: 90vh;

  display: flex;

  justify-content: center;
  margin: 0;
}

.Setup_Page {
  width: 60vw;
  height: 50vw;
}

.Change_Info_box {
  display: flex;
  justify-content: center;

  flex-direction: row;
  /* border: 2px solid black; */
  width: 35%;
  height: 10%;
}

.input_place_box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  width: 80%;
}

.input_place {
  height: 100%;
  width: 80%;
  border: 2px solid #cdcdcd;
  border-radius: 2%;
}

.GOHome {
  margin-top: 3vh;
  height: 3vh;
  width: 4vh;
}
/* 기본 버튼 스타일 */
.button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* 기본 버튼에 마우스 호버 효과 */
.button:hover {
  background-color: #c1bcea;
  color: white;
}

/* 기본 버튼에 클릭 효과 */
.button:active {
  background-color: #9590ba;
}
